<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".XploredApplication"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Xplored">

        <activity
            android:name=".ui.screens.main.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Xplored">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.screens.auth.LoginWelcomeBackActivity" android:exported="true" />
        <activity android:name=".ui.screens.auth.LoginNewUserActivity" android:exported="true" />
        <activity android:name=".ui.screens.auth.LoginNewPasswordActivity" android:exported="true" />
        <activity android:name=".ui.screens.auth.LoginForgotPasswordActivity" android:exported="true" />
        <activity android:name=".ui.screens.profile.ProfileActivity" android:exported="true" />
        <activity android:name=".ui.screens.settings.SettingsActivity" android:exported="true" />
        <activity android:name=".ui.screens.coupon.CouponActivity" android:exported="true" />
        <activity android:name=".ui.screens.auth.IdentityCheckActivity" android:exported="true" />
        <activity android:name=".ui.screens.place.NewPlaceActivity" android:exported="true" />
        <activity android:name=".ui.screens.pedipaper.PedipaperActivity" android:exported="true" />
        <activity android:name=".ui.screens.misc.ComingSoonActivity" android:exported="true" />
        <activity android:name=".ui.screens.pedipaper.RouteGameActivity" android:exported="false" />
        <activity
            android:name=".ui.screens.profile.EditProfileActivity"
            android:exported="false"
            android:theme="@style/Theme.Xplored" />
        <activity android:name=".ui.screens.reviews.NewReviewActivity" android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAvePv2NfoJCLsDEx8p2KEZhP2DMf4DlqI" />
    </application>

</manifest>